<ul class="govuk-list">
    <li>
        <a class="govuk-link govuk-body-s" href="/admin/dashboard">New reports</a>
    </li>
    <li>
        <a class="govuk-link govuk-body-s" href="/admin/assigned-me">Assigned to me</a>
    </li>
    <li>
        <a class="govuk-link govuk-body-s" href="/admin/in-progress">In progress</a>
    </li>
    <li>
        <a class="govuk-link govuk-body-s" href="/admin/complete">Complete</a>
    </li>
</ul>

<form>
    <div class="govuk-form-group govuk-body govuk-!-margin-bottom-2">
        <label class="govuk-label" for="name">
            Search
        </label>
        <input class="govuk-input" id="name" name="name" type="text">

    </div>
    <button type="submit" class="govuk-button">
        Seach
    </button>
</form>