{% extends "layoutuser.html" %}

{% block pageTitle %}
Provide any additional evidence - Tell us something anonymously
{% endblock %}

{% block links %}
<li class="govuk-header__navigation-item">
    <a class="govuk-header__link" href="/">
        Home
    </a>
</li>

{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
            <a href="/version1/user/page4" class="govuk-back-link">Back</a>
        <span class="govuk-caption-l">Step 6 of 7</span>
        <h1 class="govuk-heading-l">
            Provide any additional evidence
        </h1>
        <p class="govuk-body">You can upload any additional files or photos which may be relevant.</p>

        <form method="POST">

            <div class="govuk-inset-text">
                No files uploaded. <a href="page6a">Upload a file</a>
            </div>

            <div class="govuk-form-group">
                <button type="submit" class="govuk-button">
                    I don't have files to upload
                </button>
            </div>
        </form>


    </div>
</div>

{% endblock %}