{% extends "layoutuser.html" %}

{% block pageTitle %}
When did this happen - Tell us something anonymously
{% endblock %}

{% block links %}
<li class="govuk-header__navigation-item">
    <a class="govuk-header__link" href="/">
        Home
    </a>
</li>

{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="/version1/user/page3" class="govuk-back-link">Back</a>
        <span class="govuk-caption-l">Step 5 of 7</span>
        <h1 class="govuk-heading-l">
            When did this happen?
        </h1>
        <p class="govuk-body">If you do not know when this was you can give us approximate dates and times.</p>
        <p class="govuk-body">You can also say if this is still ongoing.</p>
        <form method="POST">

            <div class="govuk-form-group">
                <label class="govuk-label" for="detailswhen">
                    Details
                </label>
              
                <textarea class="govuk-textarea" id="detailswhen" name="detailswhen" rows="5" aria-describedby="details-hint">{{data['detailswhen']}}</textarea>
            </div>

            <div class="govuk-form-group">
                <button type="submit" class="govuk-button">
                    Save and continue
                </button>
            </div>
        </form>


    </div>
</div>

{% endblock %}