{% extends "layoutuser.html" %}

{% block pageTitle %}
Complete - Tell us something anonymously
{% endblock %}

{% block links %}
<li class="govuk-header__navigation-item govuk-header__navigation-item--active">
  <a class="govuk-header__link" href="/user/index">
    Home
  </a>
</li>

{% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

 

    <div class="app-panel app-panel--success">
        <h1 class="govuk-heading-l">Report submitted</h1>
        <p class="govuk-!-font-size-24">
            Your reference is: 973HG2ID<br />Your access code is: 87F34VD2
        </p>
        <p class="govuk-!-margin-bottom-0">
            Make a note of these details as you can use them to retrieve your report at a later date.
        </p>
      </div>
      

    <h2 class="govuk-heading-m">Retrieving your report</h2>
    <p class="govuk-body">You can use the reference and access code to <a href="/user/index">retrieve your report</a> submission and check for
      any updates.</p>
    <p class="govuk-body">We may not be able to provide an outcome or update on all submissions.</p>

    <h2 class="govuk-heading-m">What happens next</h2>
    <p class="govuk-body">We review all submissions and will take action where necessary. If we are able to, we will update the details of the report so you can view this online.</p>

    <p>Return to the start of <a href="/user/index">Tell us something anonymously</a></p>

    <p>Go to the <a href="http://www.gamblingcommission.gov.uk">Gambling Commission homepage</a></p>

    <h2 class="govuk-heading-m">Other places to get help or information</h2>
    <h2 class="govuk-heading-s">GamCare</h2>
    <p>GamCare is the leading national provider of information, advice, support and free treatment for anyone affected by problem gambling. <a href="https://www.gamcare.org.uk/" target="_blank">https://www.gamcare.org.uk</a></p>

  </div>
</div>

{% endblock %}