{% extends "layout.html" %}

{% block pageTitle %}
Tell us something in confidence - Prototype
{% endblock %}

{% block links %}
<li class="govuk-header__navigation-item govuk-header__navigation-item--active">
    <a class="govuk-header__link" href="/">
        Home
    </a>
</li>

{% endblock %}
{% block content %}

<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
    
          <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">Report submitted</h1>
            <div class="govuk-panel__body">Thank you</div>
          </div>
            
    
          <h2 class="govuk-heading-m">What we do with this information</h2>
          <p class="govuk-body">We review all submissions and will take action where necessary.</p>
          <p><a href="http://www.gamblingcommission.gov.uk">Return to our homepage</a></p>
    
    
        </div>
      </div>

{% endblock %}