{% extends "layoutuser.html" %}

{% block pageTitle %}
Complete - Tell us something anonymously
{% endblock %}

{% block links %}
<li class="govuk-header__navigation-item govuk-header__navigation-item--active">
  <a class="govuk-header__link" href="/">
    Home
  </a>
</li>

{% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

 

    <div class="app-panel app-panel--success">
        <h1 class="govuk-heading-l">Report submitted</h1>
        <p class="govuk-!-font-size-24">
            Your reference is: 973HG2ID<br />Your access code is: 87F34VD2
        </p>
        <p class="govuk-!-font-size-18 govuk-!-margin-bottom-0">
            Make a note of these as they are needed if you want to retrieve your report at a later date.
        </p>
      </div>
      

    <h2 class="govuk-heading-m">Retrieving your report</h2>
    <p class="govuk-body">You can use the reference and access code to retrieve your report submission and check for
      any updates.</p>
    <p class="govuk-body">We may not be able to provide an outcome or update on all submissions.</p>

    <h2 class="govuk-heading-m">What happens next</h2>
    <p class="govuk-body">We review all submissions and will take action where necessary.</p>


    <p><a href="http://www.gamblingcommission.gov.uk">Return to our homepage</a></p>



  </div>
</div>

{% endblock %}