{% extends "layoutuser.html" %}

{% block pageTitle %}
Start - Tell us something in confidence
{% endblock %}

{% block links %}
<li class="govuk-header__navigation-item govuk-header__navigation-item--active">
    <a class="govuk-header__link" href="/">
        Home
    </a>
</li>

{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <h1 class="govuk-heading-xl">
            Tell us something in confidence
        </h1>

        <p class="govuk-body">Use this service to report criminal or suspicious activity such as:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>betting in pubs and illegal gaming machines</li>
            <li>concerns about money laundering</li>
            <li>underage gambling</li>
            <li>concerns about sports betting integrity (match-fixing)</li>
        </ul>

        <p class="govuk-body">Do not report complaints using this service. They should be directed to the operator the complaint is about. You can use our <a href="https://secure.gamblingcommission.gov.uk/PublicRegister/Search" target="_blank">public register</a> to find details of licensed gambling operators.</p>

    
        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                Do not use this service to report a crime in progress, you should call the emergency services instead.
            </strong>
        </div>

        <p class="govuk-body">You can make a report anonymously - you don't have to give your name or contact details
            unless you want to.</p>

        <a href="/user/page1" role="button" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">
            Start now
        </a> 
        
        <p class="govuk-body">or <a href="/user/retrieve">retrieve and existing report</a></p>

        <h2 class="govuk-heading-m">
            Other ways to report something in confidence
        </h2>
        <p class="govuk-body">You can also call our confidentail reporting line.</p>
        <p class="govuk-body">Telephone: +44 121 230 6655 </p>

        <h3 class="govuk-heading-m">
            Crimestoppers
        </h3>

        <p class="govuk-body">We work in partnership with the charity Crimestoppers as part of an ongoing strategy to
            protect against match-fixing, money laundering and illegal gambling.</p>

        <p class="govuk-body">Crimestoppers will pass on reports made to them about gambling-related criminality or
            corruption to our Sports Betting Intelligence Unit (SBIU) at the same time as they are reported to the
            police. </p>

            <p class="govuk-body">You can call Crimestoppers on 0800 555 111 or visit their website at <a href="https://crimestoppers-uk.org" target="_Blank">https://crimestoppers-uk.org/</a></p>
    </div>
</div>

{% endblock %}