{% extends "layoutuser.html" %}

{% block pageTitle %}
Retrieve a report - Tell us something anonymously
{% endblock %}

{% block links %}
<li class="govuk-header__navigation-item">
    <a class="govuk-header__link" href="/">
        Sign out
    </a>
</li>

{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Submitted report
        </h1>

        <dl class="app-check-your-answers app-check-your-answers--short">
            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                    Area of gambling
                </dt>
                <dd class="app-check-your-answers__answer">
                    Lotteries
                </dd>
                <dd class="app-check-your-answers__change">

                </dd>
            </div>
            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                    Type of problem
                </dt>
                <dd class="app-check-your-answers__answer">
                    Illegal lottery
                </dd>
                <dd class="app-check-your-answers__change">

                </dd>
            </div>
            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                    Location
                </dt>
                <dd class="app-check-your-answers__answer">
                    Facebook - https://facebook.com/pages/dodgyhouselotto

                </dd>
                <dd class="app-check-your-answers__change">

                </dd>
            </div>
            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                    When
                </dt>
                <dd class="app-check-your-answers__answer">
                    Ongoing
                </dd>
                <dd class="app-check-your-answers__change">

                </dd>
            </div>
            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                    Details
                </dt>
                <dd class="app-check-your-answers__answer">
                    There is a lottery being run on Facebook for people to win a house if they pay £100 a ticket.
                </dd>
                <dd class="app-check-your-answers__change">

                </dd>
            </div>
            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                    Files
                </dt>
                <dd class="app-check-your-answers__answer">
                    No files uploaded

                </dd>
                <dd class="app-check-your-answers__change">

                </dd>
            </div>
            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                    Other bodies notified
                </dt>
                <dd class="app-check-your-answers__answer">
                    No details provided

                </dd>
                <dd class="app-check-your-answers__change">

                </dd>
            </div>
            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                    Contact
                </dt>
                <dd class="app-check-your-answers__answer">
                    No
                </dd>
                <dd class="app-check-your-answers__change">

                </dd>
            </div>
        </dl>
        <h3 class="govuk-heading-m">Report updates</h3>
        <div class="govuk-inset-text">
            There are no updates on this submission
        </div>
    </div>

    <div class="govuk-grid-column-one-third">
            <span class="govuk-caption-m">Reference</span>
            <h3 class="govuk-heading-m">973HG2ID</h3>
        <span class="govuk-caption-m">Submitted</span>
        <h3 class="govuk-heading-m">18 September 2018</h3>


    </div>



</div>

{% endblock %}