
{% extends "layout.html" %}

{% block pageTitle %}
  Tell us something anonymously - Prototype
{% endblock %}

{% block links %}
<li class="govuk-header__navigation-item govuk-header__navigation-item--active">
  <a class="govuk-header__link" href="/">
Home
  </a>
</li>

{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Prototype</span>
      <h1 class="govuk-heading-xl">
        Tell us something anonymously        
      </h1>
     
      <p class="govuk-body">This is a prototype for a service which allows the public to report information confidentially to the Gambling Commission</p>
      
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          This is not a live service. <br>All information displayed after this point is ficticious and not based on any real data, historic, present or otherwise.
        </strong>
      </div>
     
     
     <p class="govuk-body">There are 2 prototypes available to use:</p>

     <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="/user/">User submissions</a>
      </li>
      <li>
        <a class="govuk-link" href="/admin/dashboard">Internal admin</a>
      </li>
    </ul>


    </div>
</div>

{% endblock %}
